<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace="com.myet.basic.lifetip.LifetipMapper">
  
  <select id="lifetipListAll" resultType="LifetipDTO">
  	select *
  	from lt_board
  	order by lt_num desc
  	limit #{pageStart}, #{amount}
  </select>
  
  <select id="lifetipTotal" resultType="int">
  	select count(*)
  	from lt_board
  </select>
  
  
  <insert id="lifetipInsert">
  	insert into lt_board
  	(
  	u_id,
  	lt_title,
  	lt_content
  	)
  	values
  	(
  	#{u_id},
  	#{lt_title},
  	#{lt_content}
  	)
  
  </insert>
  
  
  <select id="lifetipDetail" resultType="LifetipDTO">
  	select *
  	from lt_board
  	where lt_num = #{lt_num}
  </select>
  
  
  <update id="lifetipUpdate">
  	update lt_board
  	set
  	lt_title = #{lt_title},
  	lt_content = #{lt_content}
  	where lt_num = #{lt_num}
  </update>
  
  <delete id="lifetipDelete">
  	delete from lt_board
  	where lt_num = #{lt_num}
  </delete>
  
  </mapper>